// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: normal 24px/1.5 'Open Sans', sans-serif;
$red: #F44336;
$n: none;

h1 {
  font: $font;
  color: $red;
}

a {
	font: $font{
		weight: 200;
	}

	text-decoration: $n;
}